* {box-sizing: border-box; }
  
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;  
    background-color: #ffffff; 
}

h1, h2, h3, h4, h5, h6, p {	margin: 0;}

ul, ol {
	margin: 0;
	padding: 0;
    list-style-type: none; }

a { text-decoration: none; 
    cursor: pointer;
}
img {display: block;}

.container { 
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
}

.head {
    width: 1440px;
    margin: 0 auto;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
} 

.head .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1158px;
    margin: 0 156px;
}

.logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;    
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;    
    margin-right: 76px;
}

.head, .header-nav, .nav-list, .contact-list, .contacts {
    display: flex;
}

.header-nav, .contacts {
    align-items: center;
}

.header-nav {
    flex-grow: 1;
}

.nav-list, .contact-list {
    gap: 40px;
}

.head {
    height: 72px;
    border: 1px solid #E7E9FC;
}

.header-logo-studio { color: #2E2F42; }

.logo-studio { color: #f4f4fd; }

.nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 0 0 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    color: #404BBF;
    position: relative;
}

.nav-link.current::after {    
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.contacts { 
    font-style: normal; 
}

.contact-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, 
.nav-link:focus, 
.contact-link:hover, 
.contact-link:focus { 
    color: #404BBF;
}

.section-main { 
    background: #2E2F42;
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}
.section-main .container {
    display: flex;
    flex-direction: column;
    gap: 48px;   
    align-items: center; 
}

.title {
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.btn {
    cursor: pointer;
    background: #4D5AE5;
    color: white;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    font-weight: 500;
    size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
    background-color: #404BBF;
}

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform:capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.section-advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    width: 1128px;
    gap: 24px;
    display: flex;    
}

.advantages-item {
    width: calc((100% - 72px) / 4);
}

.icon-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 24px 100px;
}

.section-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-team {
    background: #F4F4FD;
    padding: 120px 0;
}

.section-team .container {
    padding: 0 156px;
}

.team-list {
    display: flex;
    width: 1128px;
    gap: 24px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.team-item {
    background-color: white;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    height: 428px;  
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);  
}

.team-item .section-subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.team-img {
    width: 100%;
    object-fit: contain;
}
.team-cont {
    padding: 32px 0;
} 

.socials-logo {
    display: flex;
    gap: 16px;
}

.team-item .socials-logo {
    justify-content: center;
    gap: 24px;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
}

.socials-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    color: #ffffff;
    margin-top: 0;
    font-weight: 500;}

.socials-item {
    width: 40px;
    height: 40px;
}

.socials-link-logo {
    fill: #f4f4fd;
}

.socials-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.socials-link:hover, 
.socials-link:focus {
    background-color: #404bbf;
}

.section-portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
}

.portfolio-list {
    width: 1128px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-img-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-img-text{
    transform: translateY(0%);
}
  
.Portfolio-cant {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}

.portfolio-item .section-subtitle {
    margin-bottom: 8px;
}

.footer {
    display: flex;
    align-items: flex-start;
    gap: 120px;
    background: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo-container {
    margin-right: 120px;
}

.footer-text {
    color:#F4F4FD;
    width: 264px;
}

.footer-logo {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;    
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.soc-cont {
    margin-right: 80px;
}

.footer-text-socials,
.footer-subscribe-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
}

.socials-list.footer {
    gap: 16px;
    padding: 0;
}

.socials-link-foot {
    width: 40px;
    height: 40px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-foot:hover,
.socials-link-foot:focus  {
    background-color: #31d0aa;
}

.subscribe-form {
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.footer-subscribe-input {
    width: 264px;
    height: 40px;
    margin-right: 24px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 212px 8px 16px;
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.subscribe-form input::placeholder {
    color: #fff;
}

.btn.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding-right: 64px;
    padding-left: 24px;
    position: relative;
}

.submit-svg {
    margin-left: 16px;
    position: absolute;
    top: 10px;
    right: 24px;
}
/* 
.subscribe-form svg {
    transform: translateY(-50%);
} */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.btn-close {
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    border: 1px solid #0000001A;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.btn-close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
    color: #2E2F42;
}

.main-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-form-label-cont {
    margin-bottom: 8px;
    width: 360px;
}
  
.main-form-label {
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99; 
    display: block;  
  }
 
.input-wrap {
    position: relative;
}
  
.main-form .input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    fill: #2E2F42;
  }

.main-form .input-cont {
    border: none;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    margin-bottom: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.main-form .input-cont:focus {
    border-color: #4d5ae5;
}

.input-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.main-form .input-cont:focus + svg {
    fill: #4d5ae5;
}

.comment-cont {
    margin-bottom: 16px;
    width: 360px;
}

textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
}

.user-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form textarea:focus {
    border: 1px solid #4d5ae5;
}

.checkbox-cont {
    width: 360px;
    margin-bottom: 24px; 
    position: relative;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin-bottom: 24px;
    margin-right: 8px;
    color: #8e8f99;
}

.checkbox-icon {
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label .accept-span .checkbox-icon{
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.accept-text {
    font-size: 12px;
    color: #8e8f99;
}

.accept-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    vertical-align: middle;
}

.accept-link {
    text-decoration: underline;
    color: #4D5AE5;
}

.form.btn{
    display: block;
    min-width: 169px;

    align-self: center;
    padding: 16px 66px 16px 66px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

