* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
img {
  display: block;
}

.head {
  width: 1440px;
  margin: 0;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.container {
  max-width: 1440px;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .head {
    /* width: 768px; */
    height: 72px;
  }
  .burger-btn {
    display: none;
  }
}

/* @media screen and (min-width: 1158px) {
  .head {
    width: 1158px;
  }
} */

.head,
.header-nav,
.nav-list,
.contact-list,
.contacts {
  display: flex;
}

.head .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  margin: 0; /**/
  align-items: center; /**/
  padding: 16px;
}

.header-nav,
.contacts {
  align-items: center;
}

.nav-list {
  gap: 40px;
}

@media screen and (max-width: 320px) {
  .nav-list,
  .contacts {
    display: none;
  }

  .head .container {
    height: 56px;
  }
}

.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 0 0 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: #404bbf;
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contact-link {
  color: #434455;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }

  .head .container {
    width: 768px;
  }

  .contact-list {
    flex-direction: column;
    gap: 12px;
  }

  .contacts {
    font-style: normal;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .head .container {
    width: 100%;
    margin: 0 156px;
    padding-left: 0;
    padding-right: 0;
  }

  .contact-list {
    flex-direction: row;
    gap: 40px;
  }

  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.header-logo-studio {
  color: #2e2f42;
}

.logo-studio {
  color: #f4f4fd;
}

.burger-btn {
  border: none;
  background-color: transparent;
}

.section-main {
  background: #2e2f42;
  max-width: 320px;
  height: 432px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
}

@media screen and (min-width: 768px) {
  .section-main {
    max-width: 768px;
    height: 436px;
    padding: 112px 0;
  }
}

@media screen and (min-width: 1158px) {
  .section-main {
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
  }
}

.section-main .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  text-align: center;
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 216px;
}

@media screen and (min-width: 768px) {
  .section-main .container {
    gap: 36px;
  }
  .title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .section-main .container {
    gap: 48px;
  }
}

.btn {
  cursor: pointer;
  background: #4d5ae5;
  color: white;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  font-weight: 500;
  size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
